<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.ico" />
    <link rel="manifest" href="site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <div id="app" class="flex h-screen items-center justify-center bg-blue-700">


      <div class="">
          <div class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block text-white h-12 w-12 mb-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
        </svg>

        <p class="text-gray-100 font-bold text-4xl mb-6">Hamza<span class="font-thin">chat</span></p>


        <input placeholder="Enter your passcode" class="p-2 font-thin text-2xl  bg-gray-100" type="text" name="input" id="input">
        <a id="room" class="invisible bg-yellow-500 font-semibold text-white text-3xl p-1 mt-3 rounded block uppercase" href="">Connect</a>


      </div>
      </div>


    </div>

    <script src="./javascripts/home.js"></script>

  </body>
</html>
